$dark-blue: #344660;
$pink: #e0cece;
$brown: #b06f2a;
$bg-color: #fcfaf9;
$gray: #4c5154;
$light-gray: #e3e3e3;
$gray-subtitle: #2226;

$warning-light: #ff9800;
$warning-main: #ed6c02;
$warning-dark: #e65100;

$error-light: #ef5350;
$error-main: #d32f2f;
$error-dark: #c62828;

$box-shadow: 0 0 12px 0 rgb(0 0 0 / 20%);
