$dark-blue: #344660;
$pink: #e0cece;
$brown: #b06f2a;
$bg-color: #fcfaf9;
$bg-color-2: #fcfaf2;
$gray: #4c5154;
$light-gray: #e3e3e3;
$gray-subtitle: #2226;
$disabled-color: rgba(0, 0, 0, 0.26);

$warning-light: #ff9800;
$warning-main: #ed6c02;
$warning-dark: #e65100;

$error-light: #ef5350;
$error-main: #d32f2f;
$error-dark: #c62828;

$box-shadow: 0 0 12px 0 rgb(0 0 0 / 20%);

$main-gradient: rgb(61, 40, 45);
$main-gradient-linear: linear-gradient(
  90deg,
  rgba(61, 40, 45, 1) 0%,
  rgba(47, 31, 34, 1) 47%,
  rgba(35, 25, 26, 1) 100%
);

$secondary-gradient: rgb(243, 220, 178);
$seconday-gradient-linear: linear-gradient(
  90deg,
  rgba(243, 220, 178, 1) 0%,
  rgba(247, 217, 166, 1) 47%,
  rgba(248, 201, 125, 1) 100%
);
$secondary-color: rgba(248, 201, 125, 1);

$pending: #356aee;
$shipped: #f7b500;
$delivered: #35a15b;
$cancelled: #f44336;

$honey-bg: linear-gradient(180deg, #ffc97d, #f0b25b);

@mixin pink-btn {
  background-color: $pink;
  color: $brown;

  &:hover {
    background-color: $pink !important;
    color: white;
  }
}

@mixin product-title {
  font-weight: 600;
  color: $brown;
  font-style: italic;
}

@mixin textfield {
  .textfield {
    &:focus-within > label {
      color: $brown;
      font-weight: 500;
    }
    input,
    ::before {
      // border-bottom: 1px solid $brown !important;
      border-bottom-style: solid !important;
    }

    ::after {
      border-bottom: 2px solid $brown;
    }

    fieldset {
      border-color: rgb(218, 197, 197);
    }

    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    label {
      @include textfield-label;

      .Mui-focused fieldset {
        border-color: green;
      }
    }
    .Mui-focused fieldset {
      border-color: green;
    }
  }
}

@mixin textfield-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $gray-subtitle;
  // background-color: white;
  padding-right: 5px;
}

@mixin error-message($text-align: center) {
  color: #d32f2f;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  text-align: $text-align;
  margin-top: 3px;
  margin-right: 14px;
  margin-bottom: 0;
  margin-left: 14px;
}

@mixin divider {
  .divider {
    position: relative;
    margin-top: 70px;
    margin-bottom: 70px;
    height: 1px;
  }

  .div_transparent:before {
    content: "\2B22";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(
      to right,
      transparent,
      #ffd900,
      transparent
    );
  }

  .div_dot:after {
    display: block;
    content: "\2B22";
    position: absolute;
    z-index: 1;
    top: -23px;
    left: calc(50% - 9px);
    content: "\2B22";
    display: block;
    color: $brown;
    font-size: 32px;
  }
  .div_dot_two:after {
    display: block;
    content: "\2B22";
    position: absolute;
    z-index: 1;
    top: -23px;
    left: calc(50% - 29px);
    content: "\2B22";
    display: block;
    color: #ffd900;
    font-size: 32px;
  }
}
