@import "./_variables.scss";

.container {
  display: flex;

  .paper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;

    .labels {
      display: flex;
      gap: 5px;
    }
  }
}
