@import "./_variables.scss";

.cardContainer {
  position: relative;
  img {
    &:hover {
      cursor: pointer;
    }
  }

  .edit {
    position: absolute;
    top: -20px;
    left: -10px;
    color: $warning-light;
    cursor: pointer;
  }

  .delete {
    position: absolute;
    right: -10px;
    top: -20px;
    cursor: pointer;
    color: $error-main;
  }

  .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: $brown;
    padding-left: 1rem;

    span {
      color: $dark-blue;
      font-weight: 400;
      font-size: 1.3rem;
      line-height: 1.5;
      letter-spacing: 0.00938em;
    }
  }

  .title {
    font-size: 1rem;
    font-weight: 400;
    color: $dark-blue;
    padding-left: 1rem;
  }

  @keyframes opacityDelay {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .twoButtons {
    animation: opacityDelay 1s;

    padding-top: 1.8rem;
    display: flex;
    justify-content: space-around;

    .shop {
      background-color: $dark-blue;
      color: white;
      text-transform: capitalize;
      width: 40%;
    }

    .options {
      background-color: $pink;
      color: $brown;
      text-transform: capitalize;
      width: 50%;
    }
  }
}
