@import "./_variables.scss";

.cardContainer {
  position: relative;
  background-color: white;
  box-shadow: $card-box-shadow;
  min-height: 416px;

  img {
    &:hover {
      cursor: pointer;
    }
  }

  .edit {
    position: absolute;
    top: -20px;
    left: -10px;
    color: $warning-light;
    cursor: pointer;
  }

  .delete {
    position: absolute;
    right: -10px;
    top: -20px;
    cursor: pointer;
    color: $error-main;
  }

  .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: $brown;
    padding-left: 1rem;

    span {
      color: $dark-blue;
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 1.5;
      letter-spacing: 0.00938em;
      padding-right: 1rem;

      span {
        font-size: 0.9rem;
        padding-right: 0;
      }
    }
  }

  .title {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    color: $dark-blue;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
  }

  @keyframes opacityDelay {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .twoButtons {
    animation: opacityDelay 0.5s;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    .shop {
      background-color: $dark-blue;
      color: white;
      text-transform: capitalize;
      width: 40%;
    }

    .options {
      background-color: $pink;
      color: $brown;
      text-transform: capitalize;
      width: 50%;
    }
  }
}
