@import "_variables.scss";

.yourCartBox {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .yourCart {
    color: $brown;
    font-style: italic;
    font-size: 2.3rem;
    font-weight: 600;
  }

  .continueLink {
    color: $brown;
    letter-spacing: 1px;
    font-size: 1.1rem;
  }

  .priceBox {
    display: flex;
    align-items: center;

    .totalPrice {
      color: $brown;
      font-size: 1.5rem;
    }

    button {
      @include pink-btn;
      padding: 0rem 1rem;
      border: none;
      border-radius: 5px;
      margin-left: 1rem;
      cursor: pointer;
      height: 2.5rem;
    }
  }
}

.emptyCartBox {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .continueBTN {
    padding: 0.75rem 1rem;
    background-color: $pink;
    color: $brown;
  }
}

.cartBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .cartItemBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $light-gray;

    .leftSection {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .picture {
      width: 175px;
      height: 175px;
      object-fit: cover;
      // margin-right: 1rem;
      margin: 1rem;
    }

    .title {
      @include product-title;
    }

    .price,
    .size {
      font-weight: 700;
      color: #344660cc;
    }
  }

  .selectSizeBox {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .selectSize {
      width: 100px;
    }

    .cost {
      font-size: 20px;
    }

    .closeIcon {
      color: #344660;
      cursor: pointer;
      background-color: #c4c3c2;
      border-radius: 50%;
      transition: 0.3s ease-in-out;

      &:hover {
        color: $brown;
      }
    }
  }
}
