@import "./_variables.scss";

.breadCart {
  color: $brown;
}

.container {
  display: flex;

  .left {
    width: 55%;
    display: flex;
    flex-direction: column;
    padding-right: 3rem;
    padding-top: 4rem;
    align-items: flex-end;
    background-color: #fff;

    .breadcrumbs {
      padding: 1rem 0;
    }

    .form {
      @include textfield;
      width: 600px;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .textfield {
        width: 100%;
        border-color: 1px solid red;

        &:focus-within {
          .notchedOutline {
            border-color: $brown !important;
          }
        }
      }
    }

    .information {
      max-width: 600px;
      width: 100%;
      border: 1px solid $light-gray;
      border-radius: 5px;

      .contact {
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $light-gray;

        .label {
          width: 20%;
          padding: 1rem 0;
          padding-left: 1rem;
        }

        // padding: 1rem 0;

        .withEdit {
          display: flex;
          width: 80%;
          justify-content: space-between;
          align-items: center;

          button {
            color: $brown;
            text-transform: capitalize;
          }
        }
      }
    }

    .billing {
      display: flex;
      align-items: center;
    }

    .bottomForm {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 600px;
      padding: 1rem 0;

      .editCart {
        display: flex;
        color: $brown;
        cursor: pointer;
      }
      @include disabled;

      .continueBTN {
        background-color: $dark-blue;
        color: white;
        padding: 0.5rem 1rem;

        &[disabled] {
          color: $disabled-color;
          background-color: $disabled-bg-color;
          box-shadow: $disabled-box-shadow;
        }
      }
    }

    .payment {
      display: flex;
      flex-direction: column;
      width: 600px;
      padding-top: 2rem;
      gap: 0.7rem;

      .label {
        color: rgb(51, 51, 51);
        font-size: 18px;
        font-weight: 400;
      }

      .secured {
        color: rgb(84, 84, 84);
        font-size: 14px;
      }

      .choose_method {
        border: 1px solid rgb(207, 207, 207);
        border-radius: 5px;

        .each_method {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid rgb(207, 207, 207);
          padding-left: 1rem;

          img,
          .svg {
            width: 40px;
            margin-right: 1rem;
          }
          .netopia {
            height: 40px;
            background-color: #14499e;
          }
        }
      }
    }
  }

  .right {
    width: 45%;
    background-color: $pink;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-left: 3rem;
    padding-top: 4rem;
    border-left: 1px solid rgb(202, 165, 165);

    .item {
      display: flex;
      justify-content: space-between;
      max-width: 600px;

      .details {
        display: flex;
        gap: 1rem;
      }

      .imgBox {
        position: relative;
        display: flex;

        .qty {
          position: absolute;
          right: -5px;
          background-color: $dark-blue;
          color: white;
          border-radius: 50%;
          width: 20px;
          display: flex;
          justify-content: center;
          top: -10px;
        }
      }

      .titleBox {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .title {
          font-weight: 600;
          color: $dark-blue;
        }

        .size {
          color: $brown;
        }
      }

      .picture {
        width: 80px;
        border-radius: 10%;
      }

      .price {
        font-weight: 600;
        color: $dark-blue;
      }
    }

    .totalBox {
      display: flex;
      justify-content: space-between;
      max-width: 600px;
      border-top: 1px solid rgb(202, 165, 165);
      padding-top: 1rem;

      .title {
        font-weight: 600;
        color: $dark-blue;
      }

      .price {
        font-weight: 600;
        color: $dark-blue;
      }
    }

    .shipping {
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;
      max-width: 600px;
      border-bottom: 1px solid rgb(202, 165, 165);
      padding-bottom: 1rem;

      .title {
        font-weight: 600;
        color: $dark-blue;
      }

      .price {
        font-weight: 600;
        color: $dark-blue;
      }
    }

    .totalPrice {
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;
      max-width: 600px;
      padding-top: 1rem;

      .title {
        font-weight: 600;
        color: $dark-blue;
      }

      .price {
        font-size: 1.5rem;
        font-weight: 600;
        color: $dark-blue;
      }
    }
  }
}
