html,
body {
  padding: 0;
  margin: 0;
  font-family: Karla !important;
  background: #fcfaf9;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.input-label {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: Karla !important;
}
