html,
body {
  padding: 0;
  margin: 0;
  font-family: Karla !important;
  background: #fcfaf9;
}

main {
  padding-top: 55px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.input-label {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button {
  /* font-family: Sans-serif !important; */
  /* font-family: Karla !important; */
  font-family: Typeka !important;
}
