html,
body {
  padding: 0;
  margin: 0;
  font-family: Karla, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.input-label {
  display: flex;
  flex-direction: column;
}
