@import "./_variables.scss";

.heroContainer {
  position: relative;
  width: calc(100vw - 19px);
  .container {
    position: relative;
    z-index: 2;
    width: calc(100vw - 19px);
    height: 700px;

    /*   -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0); */

    @media only screen and (min-width: 1700px) {
      -webkit-clip-path: polygon(
        50% 0%,
        100% 0,
        100% 60%,
        50% 100%,
        0 60%,
        0 0
      );
      clip-path: polygon(50% 0%, 100% 0, 100% 60%, 50% 100%, 0 60%, 0 0);
    }

    background: $main-gradient;
    background: $main-gradient-linear;
  }
  .secondContainer {
    width: calc(100vw - 19px);
    z-index: 1;
    position: absolute;
    bottom: -250px;
    background: $secondary-gradient;
    background: $honey-bg;

    height: 600px;
  }
}

.dropplets {
  padding-top: 240px;
  width: 100%;
}

@include divider;
