@import "./_variables.scss";

.heroContainer {
  position: relative;
  width: calc(100vw - 19px);
  .container {
    position: relative;
    z-index: 2;
    width: calc(100vw - 19px);
    height: 80vh;

    /*   -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0); */

    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 50% 100%, 0 60%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 60%, 50% 100%, 0 60%, 0 0);

    background: $main-gradient;
    background: $main-gradient-linear;
  }
  .secondContainer {
    width: calc(100vw - 19px);
    z-index: 1;
    position: absolute;
    bottom: -250px;
    // background: $secondary-gradient;
    background: $honey-bg;

    height: 600px;
  }
}

.dropplets {
  padding-top: 240px;
  width: 100%;
}

.ProductsContainer {
  padding-top: 60px;
}

.cardContainer {
  // box-shadow: 0 4px 37px rgba(0, 0, 0, 0.18) !important;
  /*     box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
      rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px; */
  /*   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
      0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
      0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07); */
}
