@import "./_variables.scss";

.container {
  z-index: 3;
  width: 100vw;
  height: 55px;
  background: $main-gradient;
  background: $main-gradient-linear;
  position: fixed;
}

.navContainer {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;

  .link {
    color: $secondary-color;
  }
}

.cartLink {
  position: relative;
  color: $secondary-color;
}

.cartNumber {
  position: absolute;
  top: -15px;
  left: 15px;
  background-color: $pink;
  color: $brown;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.login {
  display: flex;
  // align-items: center;
  gap: 0.5rem;

  .loginBTN {
    &:hover {
      background-color: $pink !important;
      color: $brown;
    }
  }
}
