@import "./_variables.scss";

.options {
  background-color: white;
  max-width: 500px;
  padding: 0.5rem 3rem;
  height: 400px;
  min-width: 500px;

  .title {
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: center;
    color: $brown;
    font-style: italic;
    margin-bottom: 3rem;
  }

  .price {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  .selectSize {
    display: flex;
    margin: 1rem 0;
  }

  .qty {
    display: flex;
    gap: 1rem;

    .selectQuantity {
      display: flex;
      margin: 1.5rem 0;
      width: 40%;

      @include textfield;
    }

    .addCart {
      width: 60%;
      margin: 1.5rem 0;
      background-color: $dark-blue;
      color: white;
    }
  }

  .selectWeight {
    width: 100%;
  }
}

.closeBTN {
  display: flex;
  justify-content: flex-end;
  // width: 5%;
}
