@import "./_variables.scss";

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #fff;
  max-height: 70%;
  overflow: hidden;
  overflow-y: auto;

  .order_id {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: black;
  }

  .each_order {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $light-gray;
    padding-top: 10px;

    .left {
      display: flex;
      gap: 10px;
      width: 80%;

      .image {
        width: 100%;
        max-width: 125px;
      }

      .product {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .title {
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: $dark-blue;
        }

        .product_category {
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: $brown;
        }

        .fruit_type {
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: black;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      font-weight: 600;
      font-size: 18px;
      line-height: 20px;
      color: $dark-blue;

      span {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $gray-subtitle;
      }
    }
  }
}
