@import "./_variables.scss";

.page_container {
  padding-top: 1rem;
  .container {
    gap: 1rem;
    flex-wrap: nowrap;

    .history_container {
      background-color: #fff;
      height: 80vh;

      padding-right: 1rem;
    }

    .orders_container {
      height: 80vh;

      .order_info {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-top: 1rem;
        gap: 10px;

        .title {
          font-weight: 600;
          font-size: 18px;
          line-height: 27px;
          color: black;
          margin-bottom: 1rem;
        }

        .between {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .left {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            color: $gray-subtitle;
          }

          .right {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            color: #000;
          }
        }

        .total {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-top: 2px solid $light-gray;
          padding-top: 20px;

          .left {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            color: #000;
          }

          .right {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            color: $pending;
          }
        }
      }
    }
  }
}
