@import "./_variables.scss";

.container {
  justify-content: space-between;
  gap: 2rem;
}

.pie {
  display: flex;
  position: relative;
  width: 600px;
  gap: 1rem;
  //   height: 400ppx;

  .metrics {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1rem;
    min-width: 400px;
    gap: 1rem;

    .table_name {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      font-size: 14px;
      font-weight: 600;
      border-bottom: 2px solid black;
    }

    .metric {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .square_name {
        display: flex;
        // justify-content: space-around;
        gap: 10px;

        .square {
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }

        .labels {
          display: flex;
          justify-content: space-evenly;
          width: 100%;
        }
      }

      .name {
        width: 40px;
      }
    }
  }
}
