@import "_variables.scss";

.closeModal {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}

.container {
  display: flex !important;
  flex-direction: row;
  gap: 3rem;
  padding: 3rem;

  .thumbImage {
    cursor: pointer;
  }

  .details {
    width: 100%;
    max-width: 600px;

    .title {
      font-weight: 600;
      margin-bottom: 0.5rem;
      color: $main-gradient;
      text-transform: uppercase;
      font-family: Brothers;
    }

    .price {
      font-size: 1.5rem;
    }
    .selectSize {
      display: flex;
      gap: 1rem;

      .sizeBTN {
        color: $secondary-color;
        background-color: $main-gradient;
        font-weight: 600;
        padding: 0.3rem 1rem;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: $secondary-color;
          color: $main-gradient;
        }
      }
      [data-active="true"] {
        background-color: $secondary-color;
        color: $main-gradient;
      }
    }
    .error {
      color: $error-main;
    }

    .qty {
      display: flex;
      align-items: center;
      gap: 1rem;

      svg {
        color: $main-gradient;
        border: 2px solid $secondary-color;
        border-radius: 50%;
        padding: 3px;
        width: 30px;
        height: 30px;
        cursor: pointer;
      }

      .qtyNumber {
        width: 20px;

        &:focus-within {
          .notchedOutline {
            border-color: $brown !important;
          }
        }

        input {
          padding-left: 5px;
        }
      }

      .selectQuantity {
        display: flex;
        margin: 1.5rem 0;
        width: 40%;
      }

      .addCart {
        width: 60%;
        margin: 1.5rem 0;
        background-color: $dark-blue;
        color: white;
      }
    }

    .description {
      color: $dark-blue;
      font-size: 1.1rem;
    }
  }
}

@include divider;
