@import "./_variables";

.container {
  .productsContainer {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 1.5rem;
      font-weight: 600;
      color: $dark-blue;
      padding: 1rem 0;
    }

    .withArrows {
      display: flex;
      align-items: center;
      justify-content: space-between;

      svg {
        font-size: 3rem;
        color: $dark-blue;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          color: $brown;
        }
      }

      svg[data-disabled="true"] {
        color: $disabled-color;
        cursor: not-allowed;
      }
    }

    .items {
      display: flex;
      justify-content: flex-start;
      gap: 2rem;
      overflow: hidden;
      touch-action: pan-y;
      width: 100%;

      .flickity_slider {
        display: flex;
        gap: 2rem;
        width: 100%;
        left: 0px;
        transition: 1s;
        transform: translateX(0%);
      }
    }

    .price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 400;
      color: $brown;
      padding-left: 1rem;

      span {
        color: $dark-blue;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 1.5;
        letter-spacing: 0.00938em;
      }
    }

    .title {
      font-size: 17px;
      font-weight: 400;
      color: $dark-blue;
      padding-left: 1rem;
    }
  }
}
