@import "./_variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;

  .titleDate {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .title {
      font-size: 2rem;
      font-weight: 600;
      margin-right: 1rem;
      color: $dark-blue;
    }

    .date {
      font-weight: 700;
      font-size: 20px;
      color: #532b1e;
      text-transform: uppercase;
    }
  }

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    // aspect-ratio: 9 / 16;
    // width: 100%;
    max-height: 700px;
    display: block;
    max-width: 100%;
  }
}
