@import "./_variables.scss";

.search {
  color: $dark-blue;
  font-style: italic;
  font-weight: 600;
}

.searchInput {
  width: 100%;
}

.searchBox {
  position: relative;
  z-index: 2;

  .triangle {
    position: absolute;
    top: 118px;
    left: 20px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #ededed;
  }

  .paper {
    position: absolute;
    top: 130px;
    width: 100%;
    max-width: 800px;
  }
}

.productsNumber {
  margin-top: 1rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
}

.subtitle {
  background-color: #ededed;
  color: $gray-subtitle;
}

.gridItem {
  display: flex;
  gap: 1rem;

  &:hover {
    background-color: #ededed;
    cursor: pointer;
  }

  .productImage {
    width: 100px;
    height: 100%;
    object-fit: contain;
  }
  .title {
    font-size: 14px;
    font-weight: 600;
    color: $brown;
  }
}

.viewAll {
  width: 100%;
  margin: 0 auto;
  color: black;
}

.filtersAndItems {
  display: flex;
  gap: 1rem;
}
