@import "_variables.scss";

.signup {
  width: 620px;

  .loginBox {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $light-gray;
    padding: 1rem;
  }

  .tabs {
    border-bottom: 1px solid $light-gray;
    margin-bottom: 2rem;
  }

  .formBox {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .registerBox {
    display: flex;
    align-self: center;
    justify-content: center;
    justify-self: center;
    margin: 1rem 0;

    .registerBTN {
      background-color: $pink;
      color: $brown;
    }
  }
}
