@import "__variables.scss";

.dialogDetails {
  div[class*="MuiDialog-container"] {
    position: absolute;
    right: 0;

    div[class*="MuiPaper-root"] {
      margin: 0;
      padding: 10px;
      width: 350px;
      height: 100%;
    }
  }
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 9rem;

  .arrowCart {
    display: flex;
    align-items: center;
    gap: 2rem;

    svg {
      cursor: pointer;
    }

    a {
      color: $dark-blue;
      font-weight: 700;
      font-size: 1.2rem;
    }
  }
  .image_container {
    position: relative;
    width: 150px;
    height: 100px;

  .cartItemImage {
    width: 150px;
  }
}

  .cartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .productDetails {
      display: flex;
      flex-direction: row;
      align-items: center;

      .info {
        display: flex;
        flex-direction: column;

        .title {
          @include product-title;
          font-style: normal;
        }

        .fruits {
          color: $dark-blue;
          font-size: 14px;
        }

        .qty {
          color: $gray-subtitle;
        }
      }
    }
    .closeBox {
      display: flex;
      flex-direction: column;
      height: 140px;
      padding-top: 1.5rem;
    }

    .removeItem {
      cursor: pointer;
      justify-self: flex-end;
      align-self: flex-end;
      width: 20px;
    }

    .price {
      padding-top: 1.5rem;
      font-weight: 700;
      color: #344660cc;
    }
  }
}

.bottom {
  position: fixed;
  height: 170px;
  bottom: 32px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  padding-top: 1rem;
  background-color: white;

  .totalSum {
    display: flex;
    justify-content: space-between;

    .tva {
      color: $gray-subtitle;
    }

    .totalPrice {
      font-weight: 700;
      color: $brown;
    }
  }

  .addCart {
    @include pink-btn;
    width: 99%;
  }

  .buyNow {
    width: 99%;
    margin: 1rem 0;
    background-color: $dark-blue;
    color: white;
  }
}
