@import "./_variables.scss";

.container {
  display: flex;
  justify-content: center;
  gap: 2rem;

  .contact {
    font-size: 48px;
    color: $main-gradient;
    font-weight: 700;
  }

  .box {
    margin-bottom: 1.5rem;

    .title {
      font-size: 18px;
      color: $main-gradient;
      font-weight: 700;
    }

    .info {
      font-size: 14px;
      color: $main-gradient;
      font-weight: 400;
    }

    svg {
      color: $main-gradient;
      width: 35px;
      height: 35px;
      margin-right: 1rem;
      cursor: pointer;
    }
  }
  .askUs {
    background-color: #fff;
    padding: 1rem 2rem 2rem 2rem;
    margin: 2rem;
    border-radius: 15px;

    .title {
      font-size: 20px;
      color: $main-gradient;
      font-weight: 700;
      padding: 1rem 0;
    }
    .form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 600px;

      @include textfield;
      .textfield {
        width: 100%;
        border-color: 1px solid red;

        &:focus-within {
          .notchedOutline {
            border-color: $brown !important;
          }
        }
      }

      button {
        background-color: $main-gradient;
        color: #fff;
        border: none;
        border-radius: 15px;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
}
