.container {
  background: red;
  width: 100vw;
  height: 100vh;

  /*   clip-path: polygon(
    50% 0%,
    100% 0,
    100% 61%,
    69% 81%,
    54% 89%,
    36% 81%,
    0 61%,
    0 20%,
    0 0
  ); */

  /*   -webkit-clip-path: polygon(
    51% 8%,
    74% 22%,
    100% 38%,
    100% 100%,
    0 100%,
    0 38%,
    26% 22%
  );
  clip-path: polygon(
    51% 8%,
    74% 22%,
    100% 38%,
    100% 100%,
    0 100%,
    0 38%,
    26% 22%
  ); */

  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);

  /*   -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 51% 94%, 0% 75%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 51% 94%, 0% 75%, 0 0); */

  background: rgb(61, 40, 45);
  background: linear-gradient(
    90deg,
    rgba(61, 40, 45, 1) 0%,
    rgba(47, 31, 34, 1) 47%,
    rgba(35, 25, 26, 1) 100%
  );
}
.secondContainer {
  background: rgb(243, 220, 178);
  background: linear-gradient(
    90deg,
    rgba(243, 220, 178, 1) 0%,
    rgba(247, 217, 166, 1) 47%,
    rgba(248, 201, 125, 1) 100%
  );

  height: 600px;
}
