@import "_variables.scss";

.logout {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;

  justify-content: center;

  height: 150px;
  width: 300px;
  padding: 1rem;
  box-shadow: $box-shadow;

  .logoutBTN {
    padding: 0.75rem 1rem;
    background-color: $pink;
    color: #fff;
    width: 100%;
    font-weight: 600;
    letter-spacing: 1px;
  }
}
