@import "./_variables";

.arrow {
  color: white;
  background-color: rgba(61, 40, 45, 1);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.recommended {
  display: flex;
  align-items: center;
  height: 550px;
}

.image_track {
  display: flex;
  overflow: hidden;
  padding-left: 11rem;

  .slider {
    flex-wrap: nowrap;
    height: 500px;
    display: flex;
    justify-content: center;

    transition: 1s;
    z-index: 2;
  }
}

.title {
  font-weight: 600;
  margin-bottom: 2rem;
  color: $brown;
  font-style: italic;
  text-align: center;
}
