@import "./_variables.scss";

.container {
  padding: 1rem;

  .title {
    font-size: $big-font;
    color: $main-gradient;
    font-weight: 600;
  }
  .terms {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .subtitle {
      font-size: 18px;
      color: $main-gradient;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .text {
      font-size: 18px;
      line-height: 24px;
      color: $main-gradient;
      font-weight: 500;
    }

    a {
      text-decoration: underline;
    }
  }
}
